# Build results
bin/
obj/
out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Entity Framework
**/Migrations/

# Logs
*.log
logs/

# Database
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
